.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: 'Nova Flat', cursive;
}

.Header {
  margin: 0;
  color: #443e3e;
  text-align: center;
  font-size: 7rem;
  color: black;
  text-shadow: 0 0 20px yellow;
  font-family: 'Bungee Shade', cursive;
}
/* write your parent styles in here for your App.js */
