.character-card {
    background: url('./stars-space.jpeg');
    box-shadow: 0 0 10px black;
    width: 500px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 10px;
    color: yellow;
    /* text-shadow: 0 0 2px white; */
}

.character-name {
    /* text-decoration: underline; */
    font-size: 1.5rem;
    padding-bottom: 5px;
    border-bottom: 2px solid yellow;
}

.character-info {
    padding-left: 30px;
    padding-top: 0;
    padding-bottom: 15px;
}

.character-info ul{
    padding: 0;
    list-style-position: inside;
}

.character-info li{
    padding-left: 20px;
}